doctype html
html
    head
        title User Rigistration
    body
        h1 User Management
        h2 Register New User
        form(action="/register", method="post")
            input(type="text", name="username",placeholder="Enter a username")
            input(type="text", name="name",placeholder="Enter your name")
            input(type="text", name="surname",placeholder="Enter your surname")
            input(type="text", name="email",placeholder="Enter your email")
            input(type="password", name="password",placeholder="Enter a password")
            input(type="submit", value="Register")
        if userList.length
            h2 User List
            h3 Filter
            table
                tr
                    form(action="/", method="get")
                        td
                            input(type="text", name="username",placeholder="Filter by username")
                        td
                            input(type="text", name="name",placeholder="Filter by name")
                        td
                            input(type="text", name="surname",placeholder="Filter by surname")
                        td
                            input(type="text", name="email",placeholder="Filter by email")
                        td
                            input(type="submit", value="Filter")
            table
                tr
                    th User Name
                    th Name
                    th Surname
                    th Email
                    th(colspan="5")
                each element in userList
                    tr
                        if element.edit
                            form(action="/update", method="post")
                                input(type="hidden", name="id",value=element._id)
                                td
                                    input(type="text", name="username",placeholder="Username",value=element.username)
                                td
                                    input(type="text", name="name",placeholder="Name",value=element.name)
                                td
                                    input(type="text", name="surname",placeholder="Surname",value=element.surname)
                                td
                                    input(type="text", name="email",placeholder="email",value=element.email)
                                td
                                    input(type="password", name="curentPassword",placeholder="Curent password")
                                td
                                    input(type="password", name="newPassword",placeholder="New password")
                                td
                                    input(type="submit", value="Change")
                                td
                                    a(href="/"+ (queryUrl ? '?'+queryUrl:'')) Close
                                td
                                    a(href="/delete/"+element._id) ✘ Delete User
                        else
                            td #{element.username}
                            td #{element.name}
                            td #{element.surname}
                            td #{element.email}
                            td(colspan="5")
                                a(href="/?edit="+element._id+(queryUrl ? '&'+queryUrl:''))
                                    button Edit
        else
            h2 No users in database
